
Tools/__pycache__/HDComputing.cpython-37.pyc
Tools/.idea/vcs.xml
Tools/.idea/Tools.iml
Tools/.idea/other.xml
Tools/.idea/modules.xml
Tools/.idea/misc.xml
Tools/.idea/inspectionProfiles/Project_Default.xml
Tools/.idea/inspectionProfiles/profiles_settings.xml
Tools/.idea/dictionaries/Ruchit.xml
Tools/testing.ipynb
Tools/testing.py
